<div class="header">
    FAME ACADEMY OF SCIENCE AND TECHNOLOGY (INC.)
</div>
{{> navigation}}
<div class="container">
    <div class="profile">
        <img src="/logo.png" alt="Profile Picture">
        <div class="profile-details">
            <h2>MACALINTAL, Alexander Jacob Cadiz</h2>
            <p>12 - RUTHERFORD</p>
            <p>LRN: 401592150079</p>
            <p>Strand: Science, Technology, Engineering, and Mathematics</p>
            <button>View Grades</button>
        </div>
    </div>
    <div class="content">
        <div class="calendar">
            <h3>School Calendar</h3>
            <p>FEB. 17-19 - MIDTERMS EXAM</p>
            <p>FEB. 20 - <span style="color: orange; font-weight: bold;">FIELDTRIP</span></p>
            <p>FEB. 28 - SCIENCE DAY</p>
        </div>
        <div class="announcements">
            <h3>Announcements</h3>
            <p>Congratulations! KAT 2024 Participants</p>
        </div>
    </div>
</div>
