<div class="left-section">
    <div class="left-content">
        <img class="logo" src="logo.png" width="50%">
        <h1>FAME ACADEMY OF SCIENCE <br> AND TECHNOLOGY (INC.)</h1>
        <p><strong>STRONGEST LINK TO THE FUTURE</strong></p>
    </div>
</div>
<div class="right-section">
    <div class="login-box">
        <h2>WELCOME DIAMONDS!</h2>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <label>
            <input type="checkbox"> Keep me logged in
        </label>
        <p><a href="#">Forgot your password?</a></p>
        <button>LOG IN</button>
    </div>
</div>