
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: navy;
            margin: 0;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .loading-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .loading-container img {
            width: 18%;
        }
        .loading-text {
            font-size: 20px;
            margin-top: 10px;
        }